<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/"><b>Git 'Er Done</b></a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/views/index.ejs"><button>HOME</button></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/views/about.ejs"><button>ABOUT</button></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/views/login.ejs"><button>LOGIN</button></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/views/register.ejs"><button>REGISTER</button></a>
      </li>
    </ul>
</nav>
  