<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head.ejs') %>
  </head>

  <body>
    <%- include('partials/header.ejs') %>

    <section
      class="vh-100 bg-image"
      style="
        background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');
      "
    ><div class="container d-flex justify-content-center align-items-center">
      <div class="row" style="padding-top:150px">
        <div class="span4"></div>
        <div class="span4"><img class="center-block" src="/images/GitErDoneLogo.jpg" width="100%" alt=""class="logo" /></div>
        <div class="span4"></div>
      </div>
  </div>
        
 </section>
  </body>

  <footer><%- include('partials/footer.ejs') %></footer>
</html>
