<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head.ejs')  %>
</head>

<body>
    <%- include('partials/header.ejs') %>
    
</body>

<footer>
    <%- include('partials/footer.ejs') %>
</footer>
</html>

