<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <a href="/login"><button>LOGIN</button></a>
    <a href="/register"><button>REGISTER</button></a>
  </body>
</html>
