<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head.ejs')  %>
</head>
  <body>
    <%- include('partials/body.ejs') %>
    <form action="/users/login" method="POST">
      <label> Username: <input type="text" name="username" /> </label>
      <label> Password: <input type="password" name="password" /> </label>
      <button type="submit">LOGIN</button>
    </form>
  </body>
  <footer>
    <%- include('partials/footer.ejs') %>
</footer>
</html>
