<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head.ejs')  %>
</head>
  <body>
   
   
   <div>
    <form action="/users/login" method="POST">
      <label> Username: <input type="text" name="username" /> </label>
      <label> Password: <input type="password" name="password" /> </label>
      <button type="submit">LOGIN</button>
    </form>
    </div>

  </body>
  <footer>
    <%- include('partials/footer.ejs') %>
</footer>
</html>
